label{
    font-size: 20px;
    text-align: center;
}
input{
    font-size: 13px;
}
.card-header{
 font-size: 20px;
 font-weight: bolder;
 color: purple;
}
.card-body{
    margin-left:50px;
    margin-right:50px;
}

#button1,#button2{
    margin: 5px;
    height: 35px;
    width: 80px;
    font-size: 15px;
}
small{
    font-size: 18px;
}
.card{
    margin: 10% 20% 10% 20%;
    height: 800px;
    width: 1000px;
  }