label{
    font-size: 20px;
    text-align: center;
}
input{
    font-size: 13px;
}
.card-header{
 font-size: 20px;
 font-weight: bolder;
 color: purple;
}
.card-body{
    margin-left:50px;
    margin-right:50px;
}

#button1,#button2{
    margin: 5px;
    height: 35px;
    width: 80px;
    font-size: 15px;
}
small{
    font-size: 18px;
}
.card{
    margin: 10% 20% 10% 20%;
    height: 800px;
    width: 1000px;
  }
  h1{
    background:transparent;
    height: 120px;
    margin-top: 60px;
    font-size: 40px;
    font-style: oblique;
    font-weight: bolder;
    z-index: -1;
    color: white;
    text-align: center;
    border: none;
    width: 100%;
}
a{
    font-size: 20px;
    padding: 20px;
    font-weight: bold;
    color: rgb(221, 215, 215);
}
.header{
    background: linear-gradient(to left, #16a0ce 0%, #9e0c55 100%);
    /* background-color: #9e0c55; */
    border: none;
    padding: 0%;
    margin: 0px;
}

.links{
    
    padding: 10px;
    height: 50px;
    background:linear-gradient(to left, #61bfdf 0%, #cf4c8e 100%)
    /* background-color: #b30b5f; */
}
#log{
    margin-left: 75%;
}
#pro{
    color: white;
}