label{
    font-size: 20px;
    text-align: center;
}
input{
    font-size: 13px;
}
.card-header{
 font-size: 20px;
 font-weight: bolder;
 color: darkmagenta;
}
.card-body{
    margin-left:50px;
    margin-right:50px;
}

#button1,#button2{
    margin: 5px;
    height: 35px;
    width: 80px;
}
small{
    font-size: 15px;
}
#reg{
    font-size: 18px;
}
.card{
    margin: 10% 30% 10% 30%;
    height: 500px;
    width:600px;
  }